<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Anis Berranen</h1>
        <h3>Etudiant en Genie Logiciel</h3>
        <h3>Software Engineering Student</h3>
    </div>

    <div style="position: absolute; bottom:5px; right:10px">
        <a href="https://www.linkedin.com/in/anis-berranen-9943881b8/" target="_blank ">
            <img src="../../assets/image.png" width="24" heigth="24" class="social-icon me-2">
        </a>
        <a href="https://github.com/anisberranen123" target="_blank ">
            <img src="../../assets/ss1.png" width="24" height="24" class="social-icon me-2">
        </a>
    </div>
</div>